section#contacts
  .pure-g.bg-dark-default
    .pure-u-1
      .pure-g.container
        .pure-u-1.pure-u-md-1-2.bg-dark
          .grid-item
            .pure-g
              .pure-u-1.pure-u-lg-1-3
                  img.logo(src="/adex/Logo-white.png" alt="Logo")
              .pure-u-1.pure-u-lg-1-3.pure-u-sm-1-2
                  .bottom-links
                      a(href="/about")= __("About Us")
                      a(href="http://adex.network/adex/AdEx-Whitepaper-v.7.pdf?v=1.0.17" target="_blank")= __("White Paper")
                      a(href="https://medium.com/the-adex-blog" target="_blank")= __("Blog")
                      //- a(href="")= __("Terms of Use")
                      //- a(href="")= __("Privacy Policy")
              .pure-u-1.pure-u-lg-1-3.pure-u-sm-1-2
                  .bottom-links
                      a(href="http://dapp.adex.network/dashboard/advertiser" target="_blank")= __("Advertisers")
                      a(href="http://dapp.adex.network/dashboard/publisher" target="_blank")= __("Publishers")
                      //- a(href="")= __("AdEx Lounge")
                      a(href="mailto:office@adex.network ")= __("Get in Touch")
                      //- a(href="https://medium.com/the-adex-blog" target="_blank")= __("Blog")
                      
        .pure-u-1.pure-u-md-1-2.bg-default
          .grid-item
            h2.heading= __("Let's talk")
            include ./media-links
