section.bg-lighter#features-tokens
  .pure-g.container.text-center
    .pure-u-1
      .grid-item
        .pure-g.heading
          .pure-u-1
            h2= __(strings.FEATURES)
        .pure-g.text-left
          .pure-u-1.pure-u-md-1-2.pure-u-xl-1-4
            .grid-item
              .icon.icon-adex-clear
              .desc
                span!= __(strings.FEATURES_CLEAR)
          .pure-u-1.pure-u-md-1-2.pure-u-xl-1-4
            .grid-item
              .icon.icon-adex-available
              .desc
                span!= __(strings.FEATURES_AVAILABLE)
          .pure-u-1.pure-u-md-1-2.pure-u-xl-1-4
            .grid-item
              .icon.icon-smaller.icon-adex-anonymous
              .desc
                span!= __(strings.FEATURES_ANONYMOUS)
          .pure-u-1.pure-u-md-1-2.pure-u-xl-1-4
            .grid-item
              .icon.icon-smaller.icon-adex-regulated
              .desc
                span!= __(strings.FEATURES_REGULATED)