.white-nav
include ./../../../layout/menu

//section#hero.bg-light

section#page-title.text-center.bg-laptop.nav-offset
    .pure-g.hero-inner.bg-tile-x
        .pure-u-1
            h2= __("What Is AdEx")

    #what-is.text-center.bg-laptop
        .pure-g
            .pure-u-1
                .container
                    span= __("AdEx is a")
                    strong= __(" trust-minimized protocol for digital advertising")
                    span= __(" aiming at disrupting the existing online advertising landscape and address its significant problems: ")
                    strong= __("advertising fraud, privacy and consent")
                    span= __(" to receiving sponsored messages, etc.")
                    br
                    br
                    strong= __("We believe we can empower advertisers and publishers with a platform that is secure, transparent and beneficial for all the parties involved in the process, consumers included.")
                    p= __("For more information, check out our ")
                        strong
                            a(href="https://github.com/adexnetwork/adex-protocol" target="_blank" rel="noopener noreferrer")= __("specification")

include ./../team

include ./../contacts

