doctype html
html
    head

        base(href=gurl.path=='/' ? '.' : '..')
        meta(charset='utf-8')

        title= __(strings.ADEX_TITLE)

        meta(name='description', content= __(strings.ADEX_META_DESC))
        meta(name='keywords', content= __(strings.ADEX_META_KEY_WORDS))
        meta(name='author', content= __(strings.ADEX_META_AUTHOR))
        
        meta(property='og:title', content= __(strings.ADEX_META_TITLE))
        meta(property='og:description', content= __(strings.ADEX_META_DESC_2))
        meta(property='og:type', content= __(strings.ADEX_META_TYPE))
        meta(property='og:url', content='https://www.adex.network'+gurl.path)
        meta(property='og:image', content='https://www.adex.network/adex/adex-logo-w-txt.png')

        meta(name='application-name', content='AdEx')
        meta(name='msapplication-TileColor', content='#1b75bc')
        meta(name='msapplication-square70x70logo', content='adex/ms/tiny.png')
        meta(name='msapplication-square150x150logo', content='adex/ms/square.png')
        meta(name='msapplication-square310x310logo', content='adex/ms/large.png')

        link(rel="canonical",href="https://www.adex.network"+gurl.path)

        meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")

        // HTML5 tags shim ? consider
        
        link(rel="icon",type="image/png",sizes="64x64 70x70 150x150 310x310",href="adex/ms/favicon.ico")
        link(rel="stylesheet",href="public/pure-grid.css?ver="+version)
        link(href="res.css?ver="+version, rel="stylesheet", property="stylesheet")

        // GA
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-100388362-1', 'auto');
            ga('send', 'pageview');

        // FB pixel
        script.
            <!-- Facebook Pixel Code -->
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1943894792544027'); // Insert your pixel ID here.
            fbq('track', 'PageView');

        //if lt IE 9
            script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
    body
        <noscript><img height="1" width="1" style="display:none" alt="pixel" src="https://www.facebook.com/tr?id=1943894792544027&ev=PageView&noscript=1" /></noscript>
        <!-- DO NOT MODIFY -->
        <!-- End Facebook Pixel Code -->
        #adex!= content

        include ./footer
