section#head
  nav#navigation
    .container
      input#menu-toggle(type="checkbox")
      label(for="menu-toggle")
        span.menu-line
        span.menu-line
        span.menu-line
      .logo-p
        a(href="/")
          span.dark
            img.logo.logo-p(src="adex/adex-logo-clean.png" alt="Logo")
            img.logo.logo-t(src="adex/adex-logo-txt.png" alt="AdEx")
          span.light
            img.logo.logo-p(src="adex/Logo-white-no-text.png" alt="Logo")
            img.logo.logo-t(src="adex/adex-logo-text-white.png" alt="AdEx")
        .logo-st Blockchain-based<br>ad network
      .nav
        a(href="/")= __("Home")
        a(href="https://dapp.adex.network/dashboard/publisher" target="_blank")= __("Publishers")
        a(href="https://dapp.adex.network/dashboard/advertiser" target="_blank")= __("Advertisers")
        //- a(href="")= __("AdEx Longue")
        a(href="/about")= __("About Us")
        a(href="https://medium.com/the-adex-blog" target="_blank")= __("Blog")
        //- a(href="")= __("Contact")        
        //include ./langs
a.github(href="https://github.com/AdExBlockchain" target="_blank")
        img(src="adex/GITHUB-ribbon.png" alt="We are on GitHub")
