include ./../../../layout/menu
section#hero.bg-laptop.nav-offset
  include ./hero  


section#about.bg-lighter
  .pure-g.container
    .pure-u-1.pure-u-md-3-4.offset-md-1-8
        .grid-item
            h2.text-center= __('What We Do')
            .yt-container
                iframe(class="yt-video-iframe video" src="https://www.youtube.com/embed/E4A0bcCQke0?rel=0&amp;amp;showinfo=0" allowfullscreen="allowfullscreen" frameborder="0")

section#features.bg-tile-x
  .pure-g.container
    .pure-u-1
        .grid-item.bottom-space
            h2.text-center= __('Features')
            .pure-g.f-row
                .pure-u-1.pure-u-lg-1-2
                    img(src="images/features/ic_ethereum.png" alt="Ethereum")
                    span= __("Built on")
                    strong= __(" Ethereum")
                .pure-u-1.pure-u-lg-1-2
                    img(src="images/features/ic_decentralized.png" alt="Decentralized")
                    strong= __("Decentralized")
                    span= __(" regulation")
            .pure-g.f-row
                .pure-u-1.pure-u-lg-1-2
                    img(src="images/features/ic_coins.png" alt="Monetization")
                    strong= __("100% traffic")
                    span= __(" monetization")
                .pure-u-1.pure-u-lg-1-2
                    img(src="images/features/ic_world.png" alt="Network")
                    strong= __("Large network")
                    span= __(" of international publishers")
            .pure-g.f-row
                .pure-u-1.pure-u-lg-1-2
                    img(src="images/features/ic_nofee.png" alt="No fee")
                    strong= __("No commissions")
                    span= __(" and fees")
                .pure-u-1.pure-u-lg-1-2
                    img(src="images/features/ic_report.png" alt="Reporting")
                    strong= __("Clear and transparent")
                    span= __(" reporting")
            .pure-g.f-row
                .pure-u-1.pure-u-lg-1-2
                    img(src="images/features/ic_devices.png" alt="Multi device")
                    strong= __("Multi-device")
                    span= __(" ad serving")
                .pure-u-1.pure-u-lg-1-2
                    img(src="images/features/ic_security.png" alt="Secure")
                    strong= __("Minimized ad fraud")
                    span= __(" possibilities")

//include ./../how-it-works 

//include ./../key-dates

include ./../partners



//include ./../seenon

include ./../contacts
