include ./../../../layout/menu
section#hero.bg-lighter-default
  include ./hero  


section#about
  .pure-g.bg-default-lighter
    .pure-u-1
      .pure-g.container
        .pure-u-lg-1-2.bg-default.pure-u-md-1.pure-u-1
          .grid-item
            .heading
              h2= __("WHAT_IS_ADEX")
            p!= __(strings.WHAT_IS_ADEX_LANDING_P1)
            p!= __(strings.WHAT_IS_ADEX_LANDING_P2)
            p!= __(strings.WHAT_IS_ADEX_LANDING_P3)
        .pure-u-lg-1-2.bg-lighter.pure-u-md-1.pure-u-1
          .grid-item.feature-grid
            .heading.feature-heading
              h2= __(strings.FEATURES)
            .feature-holder
              .feature-tabs
                  .icon.icon-adex-clear
                  span!= __(strings.FEATURES_CLEAR)
              .feature-tabs
                  .icon.icon-adex-available
                  span!= __(strings.FEATURES_AVAILABLE)
              .featured-space
              .feature-tabs
                  .icon.icon-smaller.icon-adex-anonymous
                  span!= __(strings.FEATURES_ANONYMOUS)
              .feature-tabs
                  .icon.icon-smaller.icon-adex-regulated
                  span!= __(strings.FEATURES_REGULATED)
              .featured-space-end

include ./../how-it-works 

include ./../key-dates

include ./../partners

include ./../team

include ./../seenon

include ./../contacts